@font-face {
    font-family: 'Lexend';
    src: url('../Content/Fonts/Lexend.woff2');
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../Content/Fonts/Comfortaa.woff2');
}
@font-face {
    font-family: 'InstrumentSans';
    src: url('../Content/Fonts/InstrumentSans.woff2');
}